<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header" i18n="form header|An introduction header for this form">تسجيل دخول</div>
        <div class="card-body">
          <div class="row">
           
            <div class="col-md-12">
              <form>
                <label i18n="email-label">البريد الالكترونى</label>
                <input type="text" class="form-control mb-2"  required #userEmail autofocus>
                <label i18n="email-password">الرقم السرى </label>
                <input type="password" class="form-control mb-2"  #userPassword required>
                <button  class="btn btn-lg btn-primary btn-block mb-1"  (click)="authService.login(userEmail.value, userPassword.value)"  i18n="btn-login">دخول</button>  
                <!-- <h5 style="text-align:center;margin:20px 0;">أو</h5> -->
                <button  class="btn btn-lg btn-primary btn-block mb-1 loginBtn loginBtn--google"  (click)="authService.loginWithGoogle()"  i18n="btn-g"> دخول بحساب جوجل </button>
                <button  class="btn btn-lg btn-primary btn-block mb-1 loginBtn loginBtn--facebook"  (click)="authService.loginWithFB()"  i18n="btn-fb">دخول بحساب فيس بوك</button>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>