<!-- <div class="container">
    <form action="" (ngSubmit)="formSubmit()">
      <div class="" *ngFor="let qq of QN">
        <h4 class="qq">{{ qq.q }}</h4>
          <p>
              <input type="radio" id="c" name="radio-group"   data-ng-change="" > 
              <label for="c">{{qq.as(0) }}</label>
            </p>
            <p>
              <input type="radio" id="test2" name="radio-group"  data-ng-checked="">
              <label for="test2">Peach</label>
            </p>
            <p>
                <input type="radio" id="test3" name="radio-group"  data-ng-checked="">
                <label for="test3">Orange</label>
              </p>
          
      </div>
      <button type="submit" class="btn btn-warning">انهاء</button>
      
      </form>
</div> -->
<form action="" (ngSubmit)="formSubmit()">
<div class="list-group" *ngFor="let qq of QN">
    <button type="button" class="list-group-item list-group-item-action active">
        {{ qq.q }}
    </button>
    <button type="button" class="list-group-item list-group-item-action" *ngFor="let aa of qq.as">{{ aa.a }}</button>
  
  </div>
  <button type="submit" class="btn btn-warning">انهاء</button>
  
</form>