<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink=""><img src="assets/logo.png">  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav">
        <li class="nav-item" *ngIf="user">
            <a routerLink="/home" *ngIf="user"><button type="button" class="btn btn-warning"  i18n="home-link" > الرئيسية</button></a>
    
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle"   ngbDropdownToggle id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  i18n="btn-lang">لغة الموقع</a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="http://localhost:4200/ar/">عربية</a>
            <a class="dropdown-item" href="http://localhost:4200/en/"> English</a>
          </div>
        </li>
  
      <li   *ngIf="user" class="nav-item" ngbDropdown>
          <a class="nav-link dropdown-toggle"   ngbDropdownToggle id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  i18n="notification"> التبيهات</a>
          <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown02">
            <a class="dropdown-item" >لايوجد تنبيهات</a>
            </div>
      </li>
      <li   *ngIf="user" class="nav-item">
          <a class="nav-link"  i18n="name-hello"> مرحبا {{ user.displayName }}</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login" *ngIf="!user"><button type="button" class="btn btn-warning"   i18n="form-login">تسجيل دخول</button></a>

      </li>
    
    
    <!-- *ngIf="authService.isLoggedIn()" -->
    
    </ul>
  
  </div>
</nav>