.border-icon{
    border-radius: 50%;
    border:1px solid #777;
    width: 60px;
    height: 60px;
    margin:15px auto;

}
.border-icon i{
    color:#777;
    font-size: 20px !important;
    text-align: center;
    display: block;
    margin:30% auto;
}
.card{
    border:0px;
    margin-top:20px;

}
.card-body{
    text-align: center !important;

}