<div class="content">
  <h4 class="icon-title"><i class="fas fa-school"></i></h4>
  <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
  
  <h3 class="main-title" >تعلّم اللغة العربية الآن</h3>
  <p class="sub-title">مراحل التعلم</p>
</div>
<div class="container">
  <div class="row" >

    <div class="col-3 col-sm-4 col-xs-6" *ngFor="let level of levels">
      <div class="card">
        <div class="border-icon">
            <i class="fab fa-leanpub"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title" >{{ level.name }}</h5>
          <p class="card-text" >{{ level.desc }}</p>
        </div>
      </div>
    </div>


  </div>
</div>