/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    direction: rtl !important;
    position: relative;
}
.btn-warning{
    color:#fff !important;
}
main{
    padding-top:90px;
    direction: rtl !important;
    text-align: right;
 
    min-height: 100vh;
}
.icon-title{
    color:#ffc107;
    text-align: center;
    margin-top:40px;
}
.main-title{
    text-align: center;
    margin: 15px 0 5px;
}
.sub-title{
    color:#777;
    text-align:center !important;

}
/* .footer-style{
    position: sticky;
    bottom: 0;
    right: 0;
    text-align: center;
    margin-top:30px;
    width: 100%; 
} */
.navbar-expand-md .navbar-collapse{
  direction: ltr !important;
}


