h4>i{
    color:#ffc107;
    padding-left:10px;
}
h4{
    margin:20px 0;
}
.info-level i{
    color:#ffc107;
    padding-left:10px;

}
.info-level{
    background:#f4efef; 
    text-align: center;
    padding:50px 0;
    margin-top:20px;
    border:1px solid #eae7e7;
    
}
.info-level span{
    padding-left: 10px;
    font-weight: 700;
}