
<div class="container">
  <div class="row">
    <div class="col">
      <div class="info-level">
          <i class="fas fa-adjust"></i><span>المرحلة</span> <span>{{ level }}</span>
      </div>
    </div>
    <div class="col">
        <div class="info-level">
            <i class="fas fa-layer-group"></i><span>المستوى</span> <span>{{ step }}</span>
        </div>
      </div>
      <div class="col">
          <div class="info-level">
              <i class="fas fa-database"></i><span>النقاط</span> <span>{{ points }}</span>
          </div>
        </div>
  </div>
</div>
<div class="container">
  <!-- <h4><i class="fas fa-user-graduate"></i>ترتيب الأصدقاء</h4> -->
</div>
<app-index></app-index>